@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'), url('./BarlowCondensed-Regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: auto;
  src: local('Barlow Condensed Italic'), local('BarlowCondensed-Italic'), url('./BarlowCondensed-Italic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: auto;
  src: local('Barlow Condensed Bold'), local('BarlowCondensed-Bold'), url('./BarlowCondensed-Bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: auto;
  src: local('Barlow Condensed Bold Italic'), local('BarlowCondensed-BoldItalic'), url('./BarlowCondensed-BoldItalic.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


html, body {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

div { box-sizing: border-box; }
iframe { border: none; }

section::after,
nav::after {
	content: "";
	display: table;
	clear: both;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  line-height: 1.6;
  font-size: 2rem;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #000;
  color: #F2F2F2;
}

h1 {
  font-weight: 200;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
  margin-left: 5vw;
}

h1 .break {
  font-weight: 700;
}

.contenu h1,
.contenu h2 {
  text-shadow: 0 1px 2px #000;
}

h2 {
  font-size: 3rem;
  line-height: 1;
}

a {
  color: #BED95B;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

.text-center { text-align: center; }
.hidden { display: none; }

.list-inline { padding: 0; }
.list-inline li { display: inline; }
.list-inline li:not(:first-child) { margin-left: max(3vw,2.3vh); }

.embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fond {
  width: 100vw;
  height: calc(90vh - 10rem);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
	display: flex;
	align-items: center;
}

.contenu {
  width: 100vw;
  height: calc(90vh - 10rem);
  position: absolute;
  top: 0;
  color: #F2F2F2;
}

.break { display: block; }

.poste {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  bottom: 0;
  width: 100vw;
  padding: 5vh 5vw;
}

.poste .item {
  flex: auto;
  text-align: center;
  width: 37.5%;
}

.item.gauche {  text-align: right; }

.item.img {
  width: 25%;
  margin-top: 1.5rem;
}
.item.img svg {
  width: 65%;
  min-width: 32px;
  max-width: 96px;
}
.item.droite { text-align: left; }

@media (max-width: 500px) {
  .item.gauche .item-break,
  .item.droite .item-break { display: block; }
}

/* Animations */
@keyframes logonanim {
  0%  { transform: translate3d(0, -2rem, 0); opacity: 0; }
  25%  { transform: translate3d(0, -2rem, 0); opacity: 0; }
  100%  { transform: translate3d(0, 0, 0); opacity: 1; }
}

.nom { animation: logonanim 1s ease; }

@keyframes leftnanim {
  0%  { transform: translate3d(-2rem, 0, 0); opacity: 0; }
  50%  { transform: translate3d(-2rem, 0, 0); opacity: 0; }
  100%  { transform: translate3d(0, 0, 0); opacity: 1; }
}

.item.gauche { animation: leftnanim 2s ease; }

@keyframes rightnanim {
  0%  { transform: translate3d(2rem, 0, 0); opacity: 0; }
  50%  { transform: translate3d(2rem, 0, 0); opacity: 0; }
  100%  { transform: translate3d(0, 0, 0); opacity: 1; }
}

.item.droite { animation: rightnanim 2s ease; }

@keyframes blasonanim {
  0%  { opacity: 0; }
  50%  { opacity: 0; }
  100%  { opacity: 1; }
}

.svg-blason { animation: blasonanim 2s ease-in-out; }

nav {
  position: sticky;
  top: 0;
  background-color: #103173dd;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 100;
  padding: 1rem 5vw;
}

nav ul {
  display: inline-block;
  margin: 1rem;
}

nav svg {
  vertical-align: -.125em;
  margin: 0 1rem;
}

nav a { color: #F2F2F2; }

section { padding-top: 1rem; }

.icon::before {
  display: block;
  line-height: 1;
  margin-bottom: 2rem;
}

.icon.highlights::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' fill='%23103173' viewBox='0 0 16 16'%3E%3Cpath d='M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z'/%3E%3Cpath d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z'/%3E%3C/svg%3E");
}

.icon.profile::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' fill='%23103173' viewBox='0 0 16 16'%3E%3Cpath d='M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z'/%3E%3C/svg%3E");
}

.icon.photos::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' fill='%23103173' viewBox='0 0 16 16'%3E%3Cpath d='M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z'/%3E%3Cpath d='M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z'/%3E%3C/svg%3E");
}

.tile {
  float: left;
  object-fit: cover;
  width: 100%;
  height: auto;
  border: solid #000;
  border-width: 0 2vh 2vh;
  box-sizing: border-box;
}

.tile:last-child {
  border-bottom-width: 0;
}

.responsive-table {
	position: relative;
	overflow-x: auto;
	display: flex;
	align-items: center;
}

table {
	margin: 0 auto;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
}

td,
th {
  border-bottom: .1rem solid #ccc;
  padding: 1.2rem 1.5rem;
}

footer {
  clear: both;
  padding: 4vh 0;
}

@media (min-width: 650px) {
  section { padding-top: 8rem; }

  nav .menu {
    float: left;
    text-align: left;
  }

  nav .social {
    float: right;
    text-align: right;
  }

  nav svg {
    vertical-align: -.125em;
    margin: 0;
  }
}

@media (min-width: 750px) {
  h1 { font-size: 6rem; }
  .fond {
    width: 100vw;
    height: calc(100vh - 7rem);
  }

  .contenu {
    width: 100vw;
    height: calc(100vh - 7rem);
  }

  .tile { height: 90vh; }

  .tile:nth-child(3n+1) {
    width: 100%;
    border-width: 0 2vw;
  }

  .tile:nth-child(3n+2),
  .tile:nth-child(3n+3) {
    width: 50%;
    border-width: 2vw;
  }

  .tile:nth-child(3n+2) { border-right-width: 1vw; }
  .tile:nth-child(3n+3) { border-left-width: 1vw; }
}

.item.img .logo-gold { fill: #DDCBA4; }
.item.img .logo-blue { fill: #0C2340; }
.item.img .logo-blue-2 { fill: #003DA5; }

@media (min-width: 1000px) {
    h2 { font-size: 4rem; }
		.item.img .logo-fill { fill: #F2F2F2; }
		.item.img .logo-blue { fill: #000; }
		.item.img .logo-blue-2 { fill: #777; }
		.item.img a:hover .logo-gold { fill: #DDCBA4; }
		.item.img a:hover .logo-blue { fill: #0C2340; }
		.item.img a:hover .logo-blue-2 { fill: #003DA5; }
}

@media (orientation: landscape) {
  .fond img {
    position: absolute;
    width: 100vw;
    margin-top: 10vh;
  }
}

@media (orientation: portrait) {
  .fond img {
		height: 90vh;
		margin-left: -15vh;
	}
}
